* {
    color: white;
}

body {
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: contain auto;
    background-attachment: fixed;
    background-position: center;
}

img {
    display: block;
    width: 400px;
    margin: 0 auto;
}

h1 {
    margin: 16px;
    font-size: 100px;
    text-align: center;
    font: Roboto, Tahoma, sans-serif;
}

h3 {
    font-size: 50px;
    margin: 0px
}

ul {
    display: block;
    text-align: left;
    margin: 0px 16px;
}

li {
    font-size: 32px;
    margin: 8px 20px;
}

div {
    background: rgba(0, 0, 0, 0.2);
    padding: 16px;
}